.messages-wrapper {
  width: 550px;
  height: 100vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-right: 1px solid rgb(230, 236, 240);
}

.none-selected {
  margin: 0 auto;
  margin-top: 50%;
  text-align: center;
  padding: 0 20px;

}
.none-selected h2 {
  font-size: 18px;
  padding: 10px 0;
}
.none-selected .newMessage-btn {
  width: 35%;
  margin: 20px auto;
  background-color: rgb(29, 192, 242);
  color: #fff;
  padding: 10px ;
  border-radius: 10px;
}
.none-selected .newMessage-btn:hover {
  cursor: pointer;
  background-color: rgb(29, 192, 242, 0.6);
}

.messages-header {
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #fff;
  border-bottom: 1px solid rgb(230, 236, 240);
  margin-bottom: 15px;
}
.left-side {
  display: flex;
}
.profile {
  flex-basis: 49px;
  margin-right: 14px;
  justify-content: center;
}
.user-infos {
  display: flex;
  flex-direction: column;
}
.user-infos .name {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}
.user-infos .username {
  font-size: 14px;
  font-weight: 400;
}
.right-side {
  padding: 0 8px;
  fill: rgb(29, 192, 242);
}
.chat-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.message-block {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 60px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.message-block-fromMe {
  display: flex;
  width: 200px;
  height: 60px;
  margin-left: 75%;
  margin-bottom: 15px;
}
.sender-profile {
  flex-basis: 49px;
  margin-right: 14px;
  justify-content: center;
}
.sender-profile-fromMe {
  display: none;
}
.message-infos {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: rgb(230, 236, 240, 0.5);
  border-radius: 3px 10px 10px 15px;
}
.message-infos-fromMe {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 3px 10px 10px 15px;
  background-color: rgb(29, 161, 242);
  color: #fff;
}

.message-date {
  /*color: rgb(230, 236, 240, 0.1);*/
  margin-top: 8px;
  font-size: 12px;
}
.send-input {
  position: sticky;
  bottom: 0%;
  display: flex;
  align-items: center;
  z-index: 3;
  padding: 10px 10px;
  background-color: #fff;
  border: 1px solid rgb(230, 236, 240);
  width: 100%;
}
.icons {
  display: flex;
}
.input-field {
  display: flex;
  width: 75%;
}
.input-field input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  background-color: rgb(230, 236, 240, 0.8);
  border-radius: 10px;
  outline: none;
}
.btn-send {
  margin-left: 15px;
  fill: rgb(29, 161, 242);
}
.btn-send:hover {
  cursor: pointer;
  fill: rgb(29, 161, 242, 0.8);
}
