.tweet-wrapper {
  max-width: 600px;
  border-right: 1px solid rgb(230, 236, 240);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.loader {
  margin: 0 auto;
}
.header {
  position: sticky;
  border-bottom: 1px solid rgb(230, 236, 240);
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}
.tweet-wrap h2{
  text-align: center;
  padding: 40px 0;
}

.header-back-wrapper {
  margin: 8px 0;
  cursor: pointer;
}
.header-text {
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
}
.header-title {
  font-size: 20px;
  font-weight: 800;
}
.header-name {
  padding: 8px 0;
  font-size: 16px;
}
