.body-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  order: -1;
  flex-wrap: wrap;
}
.main {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgb(230, 236, 240);
}
.sidebar {
  min-width: 600px;
}
.middle-section {
  max-width: 600px;
  min-height: 100vh;
}

.ms-width {
  width: 100%;
}

.right-section {
  width: 350px;
  margin-right: 10px;
  min-height: 1000px;
  height: 100%;
}
