* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: flex-start;
  height: 100vh;
}

.header {
  position: relative;
  display: flex;
  order: -1;
}
.main {
  width: 800px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}
.sidebar {
  display: flex;
  height: 100%;
  margin-right: 10px;
  position: relative;
}

/* SPINNER*/
.spinner {
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* FLASH_MESSAGE */
.flash-message {
  position: absolute;
  justify-content: center;
  top: 3%;
  left: 35%;
  width: 20%;
  padding: 5px 30px;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  display: flex;
  opacity: 0.85;
}
