* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: flex-start;
  position: relative;
}

.header {
  position: relative;
  display: flex;
  order: -1;
}
.main {
  width: 800px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sidebar {
  display: flex;
  height: 100%;
  margin-right: 10px;
  position: relative;
}

/* SPINNER*/
.spinner {
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
